*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #2a2a2a;
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: 400px;
}

.NavLink {
  margin: 10px;
  font-size: 18px;
  color: #2a2a2a;
}

.NavLinkActive {
  color: rgb(212, 0, 255);
}
